<section>

  <div class="grid place-items-center min-h-screen">

    <!-- Responsive design-->
    <div class="p-4 max-w-5xl grid gap-4 xs:grid-cols-2 md:grid-cols-4">
      <h1 class="text-4xl font-extrabold xs:col-span-2 xs:grid xs:grid-cols-2 xs:gap-4 md:col-span-3 md:text-5xl md:grid-cols-1">
        <span>Grid layout with tailwindcss.</span>
      </h1>
      <p class="xs:row-start-2 xs:col-start-2 xs:self-center md:row-start-2 md:col-start-1 md:col-span-2 md:pr-12 md:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi quo perferendis corporis necessitatibus excepturi quas</p>
      <div class="h-16 bg-blue-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-blue-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-red-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-blue-500 xs:h-auto xs:square md:col-start-2 md:col-end-2">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-red-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-blue-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-blue-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div> 
      <div class="h-16 bg-red-500 xs:h-auto xs:square">
        <img class="object-cover h-full w-full" src="./../../assets/images/girl_face.png" alt="">
      </div>
      <p class="xs:self-center md:col-span-2 md:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi quo perferendis corporis necessitatibus excepturi quas</p>
    </div>
  </div>

</section>